*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle
.gradle/
build/
**/build/
**/.gradle/

# IDE
.idea/
*.iml
local.properties

# Kotlin compiler & JAR/ZIP
*.jar
*.zip

# Caches
.caches/
**/caches/

# Wrapper
wrapper/

# Other
.DS_Store

